@charset "utf-8"

@import compass/reset
@import compass/css3

$pageMargin: 15px
$offWhite: rgb(240, 240, 237)
$textColor: rgb(50, 50, 50)
$linkColor: rgb(0,20,180)
$shadowColor: darken($offWhite, 30%)

@mixin content
  background: #fff
  border: 1px solid darken($offWhite, 5%)

*
  box-sizing: border-box

html
  font-size: 12.5px

body
  background: $offWhite
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 1em
  font-weight: 300
  color: $textColor

html, body
  @media print
    margin: 0
    background: #fff

#download
  position: fixed
  top: $pageMargin
  right: $pageMargin
  a
    padding: 0.5em
    font-size: 1.5em
    display: inline-block
    +content
    +box-shadow($shadowColor 3px 4px 3px)
  a, a:visited
    color: $textColor
  a:hover
    background: darken(#fff, 2%)
  @media print
    display: none

#source-link
  position: fixed
  bottom: -1.74em
  font-size: 0.8em
  color: #000
  display: inline-block
  text-align: center
  width: 100%

#resume
  max-width: 778px
  height: 992px
  margin: $pageMargin auto
  padding: 2.857em 2.857em 2.571em
  transition: all 0.5s ease
  overflow: auto
  +content
  @media screen
    +box-shadow($shadowColor 5px 6px 5px)
  @media print
    height: auto
    border: none
    padding: 0.778em 0.778em 0
    margin: 0
  @media screen and (max-width: 790px)
    margin-top: 0
    max-width: 100%
    border: none

// Layout

.block
  float: left
  margin-bottom: 0.8em

.half
  float: left
  clear: none
  width: 50%
  article
    padding-right: 10px

.third
  float: left
  width: 33.333%
  article
    padding-right: 10px

.right
  text-align: right

.break
  overflow: auto

// Text

h1
  font-family: Arvo, serif
  font-size: 3.286rem
  color: rgb(0, 192, 215)
  margin-bottom: 0.1em

h2
  font-size: 1.143rem
  font-weight: 400

h3
  font-size: 1rem
  font-weight: 400
  margin-bottom: 0.25em

ul
  list-style: square
  line-height: 1.45em
  li
    margin-left: 1.43em

a, a:visited
  color: $linkColor
  text-decoration: none

a:hover
  text-decoration: underline

strong
  font-weight: bold

// Specifics

.links
  list-style: none
  font-size: 1em

section
  clear: both
  margin-bottom: 1em

  h2
    font-family: Arvo, serif
    margin-bottom: 0.65em
    .fa
      width: 1.53em

  ul
    margin-left: 1.428em
    overflow: auto
    li
      list-style: square
    &.split-2 li
      width: 45%
      float: left
      @media screen and (max-width: 700px)
        float: none

article
  margin: 0 0 0.574em 0.714em
  &:last-child
    margin-bottom: 0

h2.tagline
  font-size: 1.5em
  font-weight: 300
  margin-bottom: 0.8em

.contacts
  text-align: center
  li
    display: inline-block
    padding: 0 1.0714em

h3
  span
    font-weight: 300
    color: lighten($textColor, 40%)
  span.title
    font-size: 0.93em
    margin-left: 0.215em
  span.source
    margin-left: 0.35em
    font-size: 0.8em
  span.timeline
    float: right
    font-size: 0.93em
    margin-left: 0.215em

ul.levels
  margin-left: 0
  > li
    list-style: none
    margin: 0.357em 0 0
  &:first-child > li
    margin-top: 0
  ul
    margin-left: 0
    > li
      text-align: center
      list-style: none
      float: left
      margin: 0
      padding: 0 5px
      border-top: 5px solid blue
      border-right-width: 2px
      border-right-style: solid
      border-left-width: 2px
      border-left-style: solid
      border-right-color: #fff !important
      border-left-color: #fff !important


  .level-4
    width: 26.63%
    border-color: #89e051
  .level-3
    width: 20%
    border-color: #3581ba
  .level-2
    width: 10%
    border-color: #ffac45
  .level-1
    width: 10%
    border-color: #b07219

#education
  padding-bottom: 0.1em

#skills
  article
    margin-left: 0

#activities, #achievements
  margin-bottom: 0
  h2
    margin-bottom: 0.45em
