@charset "utf-8"

@import compass/reset
@import compass/css3

$offWhite: rgb(240, 240, 237)
$textColor: rgb(50, 50, 50)

*
  box-sizing: border-box

body
  background: $offWhite
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: 300
  font-size: 15px
  color: $textColor

#resume
  max-width: 850px
  height: 800px
  background: #fff
  margin: 15px auto
  padding: 50px
  border: 1px solid darken($offWhite, 5%)
  transition: all 0.5s ease
  +box-shadow(darken($offWhite, 30%) 5px 6px 5px)
  @media print
    border: none
    padding: 20px 30px
    +box-shadow(transparent 0 0 0)
  @media screen and (max-width: 880px)
    margin-top: 0
    max-width: 100%
    border: none

// Layout

.block
  float: left
  margin-bottom: 20px

.half
  float: left
  width: 50%

.right
  text-align: right

.break
  overflow: auto

// Text

h1
  font-family: Arvo, serif
  font-size: 46px
  color: rgb(0, 192, 215)
  margin-bottom: 0.1em

h2
  font-size: 20px
  font-weight: 400
  margin-bottom: 0.5em

h3
  font-size: 17px
  font-weight: 400
  margin-bottom: 0.2em

ul
  list-style: square
  line-height: 1.5em
  li
    margin-left: 20px

a, a:visited
  color: rgb(0,20,180)
  @media print
    color: $textColor
    text-decoration: none

// Specifics

.links
  list-style: none
  font-size: 16px

section
  margin-bottom: 20px

  h2 .fa
    width: 28px

  ul
    margin-left: 20px
    overflow: auto
    li
      list-style: square
    &.split-2 li
      width: 45%
      float: left
      @media screen and (max-width: 700px)
        float: none

article
  margin: 0 0 10px 10px

h2.tagline
  font-size: 22px
  font-weight: 300

.contacts
  text-align: center
  li
    display: inline-block
    padding: 0 15px

h3
  span
    font-weight: 300
    color: lighten($textColor, 45%)
  span.title
    font-size: 15px
    margin-left: 3px
  span.source
    margin-left: 5px
    font-size: 13px
  span.timeline
    float: right
    font-size: 15px
    margin-left: 3px
