!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "httpequiv" => "Content-Type"}/
    %title Stuart Olivera Resume
    %link{href: "stylesheets/main.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Lato:300,400,700|Arvo:400,700", rel: "stylesheet", type: "text/css"}/
  %body
    #resume
      %header
        .block.half
          %h1 Stuart Olivera
          %h2.tagline web designer &amp; full-stack developer
        .block.half.right
          %ul.links
            %li
              %a{href: "https://github.com/sman591"} github.com/sman591
            %li
              %a{href: "mailto:stuart@stuartolivera.com"} stuart@stuartolivera.com
            %li
              %a{href: "https://www.linkedin.com/in/stuartolivera"} linkedin.com/in/stuartolivera
            %li
              %a{href: "tel:7035099523"} (703) 509-9523
              &nbsp;
              %a{href: "https://stuartolivera.com"} stuartolivera.com

      %section#education
        %h2
          %i.fa.fa-graduation-cap
          Education
        %article
          %p Rochester Institute of Technology, B.S. Computer Science, expected gratudation Spring 2019

      %section#experience
        %h2
          %i.fa.fa-suitcase
          Experience
        %article
          %h3
            iOS App Challenge
            %span.title Team Hackathon
            %span.source
              %a{href: "http://ritios2015.challengepost.com/"} ritios2015.challengepost.com
            %span.timeline Winter 2015
          %ul.split-2
            %li Implemented community and social capabilities
            %li Developed photo-taking app
            %li Connected with custom API
        %article
          %h3
            CSH Drink for iOS
            %span.title Personal Project
            %span.source
              %a{href: "https://github.com/sman591/csh-drink-ios"} github.com/sman591/csh-drink-ios
            %span.timeline Winter 2015 - Present
          %ul.split-2
            %li Developed app to access CSH vending machines
            %li Designed consistent UI with other CSH iOS apps
            %li Integrated REST API
            %li First iOS &amp; Swift project
        %article
          %h3
            BrickHack.io
            %span.title Collaborative Project
            %span.source
              %a{href: "https://brickhack.io"} brickhack.io
            %span.timeline Fall 2014 - Present
          %ul.split-2
            %li Developed backend, management interface
            %li Configured continuous integration systems
            %li Managed code contributions
        %article
          %h3
            RIT Assassins
            %span.title Collaborative Project
            %span.source
              %a{href: "https://rit-assassins.github.io/arit-www/"} rit-assassins.github.io/arit-www/
            %span.timeline Summer 2014
          %ul.split-2
            %li Developed front-end driven website (AngularJS)
            %li Integrated REST API
            %li Integrated Facebook authentication
        %article
          %h3
            BusyConf, LLC
            %span.title Software Intern
            %span.source
              %a{href: "http://busyconf.com"} busyconf.com
            %span.timeline Summer 2013-Present
          %ul.split-2
            %li Improved front end interfaces
            %li Implemented sales-driving techniques
            %li Migrated billing providers
            %li Integrated third party APIs
        %article
          %h3
            DataMine
            %span.title Collaborative Project
            %span.source
              %a{href: "http://datamine.oweb.co"} datamine.oweb.co
            %span.timeline Winter - Spring 2013
          %ul.split-2
            %li Developed front-end driven website (Backbone.js)
            %li Developed backend REST API (PHP)
            %li Community data share platform
        %article
          %h3
            Olivera Web, LLC
            %span.title Founder, Freelancer
            %span.source
              %a{href: "http://oliveraweb.com"} oliveraweb.com
            %span.timeline 2009 - Present
          %ul.split-2
            %li Developed custom web application solutions
            %li Designed unique personal &amp; business websites
            %li Created &amp; maintain Linux hosting services

      %section#skills
        %article
          %ul.levels
            %li
              %ul
                %li{style: "width: 29%; border-color: #563d7c"} HTML/CSS
                %li{style: "width: 28.5%; border-color: #f1e05a"} jQuery/JavaScript
                %li{style: "width: 21.5%; border-color: #701516"} Ruby on Rails
                %li{style: "width: 21%; border-color: #4F5D95"} PHP
          %ul.levels
            %li
              %ul
                %li{style: "width: 17%; border-color: #89e051"} Git
                %li{style: "width: 13%; border-color: #b07219"} Java
                %li{style: "width: 12.5%; border-color: #dea584"} MySQL
                %li{style: "width: 11.5%; border-color: #3581ba"} Python
                %li{style: "width: 11%; border-color: #701516"} MongoDB
                %li{style: "width: 10.5%; border-color: #f1e05a"} AngularJS
                %li{style: "width: 24.5%; border-color: #555; font-style: italic"} Learning: Swift, C, Meteor

      %section.half#activities
        %h2
          %i.fa.fa-gamepad
          Activities
        %ul
          %li Member of Computer Science House, codeRIT, RIT Players, and RIT Pep Band
          %li Recreational skier &amp; snowboarder
          %li Avid audiophile

      %section.half#achievements
        %h2
          %i.fa.fa-trophy
          Achievements
        %ul
          %li Technical director &amp; head sound engineer for numerous events and theater productions
          %li Recipient of the 2014 Stone Bridge High School Computer Science Scholarship

      / %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js", type: "text/javascript"}
      / %script{src: "javascripts/main.js"}
