!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "httpequiv" => "Content-Type"}/
    %title Resume - Stuart Olivera
    %link{href: "stylesheets/main.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Arvo:400,700", rel: "stylesheet", type: "text/css"}/
  %body
    %h1 Stuart Olivera
    %h2 Passionate web designer &amp; developer
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js", type: "text/javascript"}
    %script{src: "javascripts/main.js"}
