!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "httpequiv" => "Content-Type"}/
    %title Stuart Olivera Resume
    %link{href: "stylesheets/main.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Lato:300,400,700|Arvo:400,700", rel: "stylesheet", type: "text/css"}/
    :javascript
      if (navigator.appVersion.indexOf("Chrome/") != -1) {
        document.write('<style type="text/css" media="print">header { margin-top: -20px }</style>');
      }
    :javascript
      !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
      arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
      d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
      insertBefore(d,q)}(window,document,'script','_gs');

      _gs('GSN-217490-C');
  %body
    #resume
      %header
        .block.half
          %h1 Stuart Olivera
          %h2.tagline web designer &amp; full-stack developer
        .block.half.right
          %ul.links
            %li
              %a{href: "https://github.com/sman591"} github.com/sman591
            %li
              %a{href: "mailto:stuart@stuartolivera.com"} stuart@stuartolivera.com
            %li
              %a{href: "https://www.linkedin.com/in/stuartolivera"} linkedin.com/in/stuartolivera
            %li
              %a{href: "tel:7035099523"} (703) 509-9523
              &nbsp;
              %a{href: "https://stuartolivera.com"} stuartolivera.com

      %section#education
        %h2
          %i.fa.fa-graduation-cap
          Education
        %article
          %h3
            Rochester Institute of Technology
            %span.title B.S. Computer Science
            %span.timeline Fall 2014 - Spring 2018
      %section#experience
        %h2
          %i.fa.fa-suitcase
          Experience
        %article
          %h3
            Datto, Inc.
            %span.title Software Engineering Intern
            %span.source
              %a{href: "https://datto.com"} datto.com
            %span.timeline Summer 2015
          %ul.split-2
            %li Developed documentation system for API
            %li Developed interactive API query builder
            %li Designed API home and documentation pages
            %li Built automated system for packaging the API
        %article
          %h3
            FriendlyU, LLC
            %span.title Software Engineer
            %span.source
              %a{href: "https://friendlyu.com"} friendlyu.com
            %span.timeline Summer 2015 - Present
          %ul.split-2
            %li Developed advertisement network
            %li Developed core features of Android app
            %li Configured continuous integration systems
            %li Maintained server infrastructure
        %article
          %h3
            Olivera Web, LLC
            %span.title Founder, Freelancer
            %span.source
              %a{href: "https://oliveraweb.com"} oliveraweb.com
            %span.timeline 2009 - Present
          %ul.split-2
            %li Developed custom web application solutions
            %li Designed unique personal &amp; business websites
            %li Created &amp; maintain Linux hosting services
        %article
          %h3
            BusyConf, LLC
            %span.title Software Intern
            %span.source
              %a{href: "http://busyconf.com"} busyconf.com
            %span.timeline 2013 - 2015
          %ul.split-2
            %li Improved front end interfaces
            %li Implemented sales-driving techniques
            %li Migrated billing providers
            %li Integrated third party APIs
      %section#projects
        %h2
          %i.fa.fa-tasks
          Projects
        %article
          %h3
            CSH Drink for iOS
            %span.title Personal Project
            %span.source
              %a{href: "https://github.com/sman591/csh-drink-ios"} github.com/sman591/csh-drink-ios
            %span.timeline Winter 2015 - Present
          %ul.split-2
            %li Developed app to access CSH vending machines
            %li Designed consistent UI with other CSH iOS apps
            %li Integrated seamless login via URL schemes
            %li Integrated REST API
        %article
          %h3
            BrickHack.io
            %span.title Collaborative Project
            %span.source
              %a{href: "https://brickhack.io"} brickhack.io
            %span.timeline Fall 2014 - Present
          %ul.split-2
            %li Developed registration, management interface
            %li Configured continuous integration systems
            %li Managed code contributions
            %li Created live statistics dashboard to track progress
        %article
          %h3
            iOS App Challenge - Pegg
            %span.title Team Hackathon
            %span.source
              %a{href: "https://devpost.com/software/pegg"} devpost.com/software/pegg
            %span.timeline Winter 2015
          %ul.split-2
            %li Implemented community and social capabilities
            %li Developed photo-taking app
            %li Connected with custom API
        %article
          %h3
            DataMine
            %span.title Collaborative Project
            %span.source
              %a{href: "https://datamine.oweb.co"} datamine.oweb.co
            %span.timeline Winter - Spring 2013
          %ul.split-2
            %li Developed front-end driven website (Backbone.js)
            %li Developed backend REST API (PHP)
            %li Community data share platform

      %section#skills
        %article
          %ul.levels
            %li
              %ul
                %li.level-4 HTML/CSS
                %li.level-4 jQuery/JavaScript
                %li.level-4 Ruby on Rails
                %li.level-3 PHP

          %ul.levels
            %li
              %ul
                %li.level-3 Git
                %li.level-2 Swift
                %li.level-2 MySQL
                %li.level-2 Java
                %li.level-1 Python
                %li.level-1 MongoDB
                %li.level-1 AngularJS
                %li.level-1 C
                %li.level-1 Meteor

      %section.half#activities
        %h2
          %i.fa.fa-gamepad
          Activities
        %ul
          %li Member of Computer Science House, codeRIT, RIT Players, and RIT Pep Band
          %li Recreational skier &amp; snowboarder
          %li Avid audiophile

      %section.half#achievements
        %h2
          %i.fa.fa-trophy
          Achievements
        %ul
          %li Director of codeRIT, BrickHack
          %li Technical director &amp; head sound engineer for numerous events and theater productions
          %li Recipient of the 2014 Stone Bridge High School Computer Science Scholarship
    #download
      %a{href: "Stuart%20Olivera%20Resume.pdf", title: "Download PDF version"}
        %i.fa.fa-file-pdf-o
